{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="politic">
    <div class="container">
        <h1>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</h1>
        <p>Ця Політика конфіденційності описує, як «Файні Рецепти» (далі — «Компанія», «ми») збирає, використовує, передає, зберігає персональні дані, які ми автоматично отримуємо, коли ви використовуєте веб-сайт, розміщений на faynirecepty.com ( далі — «Сайт»), або які можуть бути безпосередньо надані нам вами за допомогою Сайту.</p>
        <h3>ПЕРСОНАЛЬНІ ДАНІ, ЯКІ ВИ МОЖЕТЕ САМОСТІЙНО НАМ НАДАВАТИ</h3>
        <p>Використання Сайту не вимагає реєстрації та безпосереднього надання персональних даних, які можуть вас ідентифікувати.</p>
        <h4>РЕЄСТРАЦІЯ</h4>
        <p>На свій розсуд, для більшої зручності використання Сайту, ви можете зареєструватись на Сайті, вказавши ваше ім’я та адресу електронної пошти, пароль.  Ця інформація потрібна для подальшої авторизації на Сайті. Ви можете вказати як своє справжнє ім’я, так і псевдонім. Воно буде відображатись у коментарях, які ви можете залишати на Сайті.
        Надана вами адреса електронної пошти може використовуватись для зв’язку із вами, надсилання повідомлень про новини Сайту.</p>
        <h4>ІНШІ ВИПАДКИ</h4>
        <p>У деяких окремих випадках (наприклад, конкурси, контактні форми) ми повинні отримати ваші персональні дані і мати можливість ідентифікувати вашу особу. У таких випадках ми безпосередньо звернемо вашу увагу на це, повідомимо мету обробки таких персональних даних і будемо збирати та обробляти ваші персональні дані тільки за наявності вашої згоди у відповідності до чинного законодавства.
        При необхідності надання таких персональних даних ми вказуємо вікові обмеження. Якщо ви є батьками дитини віком до 14 років, і ви вважаєте, що ваша дитина без вашої згоди  надала нам свої персональні дані, що дає можливість її ідентифікувати, зв’яжіться з нами за адресою info@faynirecepty.com</p>
        <h3>АВТОМАТИЧНИЙ ЗБІР ДАНИХ</h3>
        <h4>LOG-ФАЙЛИ</h4>
        <p>Коли ви використовуєте Сайт може здійснюватись автоматичний збір інформації, пов’язаної із таким використанням. Так, кожного разу, коли ви відвідуєте Сайт, встановлюється з’єднання, здійснюється доступ до даних на Сайті і створюється log-файл. Він може містити:</p>
        <ul>
            <li>дату і час доступу до Сайту;</li>
            <li>IP-адресу, з якої здійснювався доступ до Сайту;</li>
            <li>дані або ім’я файлу, до якого ви звернулися на Сайті;</li>
            <li>кількість часу, проведеного на Сайті;</li>
            <li>назву і версію вашого веб-браузера, операційної системи;</li>
            <li>назву веб-сайту, з якого ви перейшли на наш Сайт.</li>
        </ul>
        <p>Ця інформація використовується для покращення продуктивності роботи Сайту, з міркувань безпеки,  для забезпечення стабільності роботи Сайту, а також для захисту Сайту від можливих зовнішніх атак. Крім цього, ми можемо здійснювати статистичний аналіз цих даних.
        Дані, що зберігаються у log-файлі не дають нам можливості ідентифікувати вашу особу. Вони  використовуються лише для вказаних тут цілей і не передаються третім особам.
        Якщо ви здійснюєте доступ до Сайту за допомогою мобільного пристрою, ми також можемо отримувати інформацію про його місцезнаходження. Ми використовуємо її, щоб встановити з яких географічних регіонів здійснюється доступ до Сайту і мати можливість запропонувати цікавий та актуальний контент. Ви можете обмежити надання інформації про місцезнаходження, скориставшись налаштуваннями служб локації вашого мобільного пристрою.</p>
        <h3>ФАЙЛИ COOKIES ТА ІНСТРУМЕНТИ АНАЛІТИКИ</h3>
        <p>Файли cookies — це невеликі текстові файли, які зберігаються на вашому пристрої. Вони використовуються для збирання анонімних даних та статистики використання вами Сайту. Файли cookies допомагають виміряти ефективність Сайту, вдосконалити та налаштувати контент, зробити використання Сайту зручнішим для вас.</p>
        <h4>ФАЙЛИ COOKIES, ЯКІ МИ ВИКОРИСТОВУЄМО:</h4>
        <h5>СЕСІЙНІ ФАЙЛИ COOKIES</h5>
        <p>Ці файли cookies існують лише протягом сеансу. Вони зникнуть з вашого пристрою, коли ви вимкнете його або закриєте веб-переглядач.</p>
        <h5>ПОСТІЙНІ ФАЙЛИ COOKIES</h5>
        <p>Ці файли cookies залишаються на вашому комп’ютері навіть після закриття веб-переглядача або вимкнення пристрою. Вони активуються щоразу, коли ви відвідуєте Сайт і мають унікальний ідентифікатор. Це необхідно для індивідуалізації функціоналу Сайту, наприклад, збереження бажаної для вас мови. За допомогою такої ідентифікації ми визначаємо, що це той самий користувач, але вона не дає нам можливості встановити хто це і визначити вашу особу.
        Ви можете відмовитися від використання файлів cookie, вибравши відповідні налаштування у своєму веб-переглядачі:</p>
        <ul>
            <li>Для Chrome, будь ласка, відвідайте цю сторінку Google: https://support.google.com/accounts/answer/32050</li>
            <li>Для Internet Explorer, будь ласка, відвідайте цю сторінку Microsoft: http://support.microsoft.com/kb/278835</li>
            <li>Для Firefox, будь ласка, відвідайте цю сторінку Mozilla: https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US</li>
            <li>Для Safari, будь ласка, відвідайте цю сторінку Apple: https://support.apple.com/kb/PH21411?locale=en_US</li>
        </ul>
        <p>Зверніть увагу, якщо ви відмовитесь від використання файлів cookies, певні функції Сайту можуть бути для вас недоступні.</p>
        <p>Файли cookies, інструменти аналітики та управління рекламою третіх осіб</p>
        <p>На Сайті використовуються інструменти третіх осіб для аналітики та управління рекламою, зокрема:
        Google Analytics, Менеджер реклами (Google Inc.), Adtelligent DSP, Adtelligent SSP.</p>
        <p>Ці інструменти можуть використовувати файли cookie, які можуть збирати таку інформацію:</p>
        <ul>
            <li>вашу IP-адресу</li>
            <li>назву і версію вашого веб-переглядача, операційної системи</li>
            <li>про частоту та тривалість використання вами Сайту</li>
            <li>про контент, який ви переглядаєте</li>
            <li>з якого сайту ви перейшли на наш Сайт</li>
            <li>на який сайт перейшли з нашого Сайту</li>
            <li>іншу інформацію, яка надає можливість проаналізувати як використовується Сайт.</li>
        </ul>
        <p>Така інформація є анонімною і дозволяє дослідити як ви використовуєте Сайт, не ідентифікуючи при цьому вашу особу.</p>
        <p>Ці дані обробляються відповідними службами аналітики таких третіх осіб для цілей маркетингу, статистики, персоналізації реклами. Інструменти аналізу можуть також передавати ці дані третім особам у випадках, коли це вимагається законом, або якщо такі треті особи є обробниками даних на підставі відповідних договорів.</p>
        <p>На основі аналізу попередніх відвідувань вами Сайту відбувається показ релевантної для вас реклами.</p>
        <p>За цим посиланням ви можете отримати інформацію про те, як компанія Google використовує персональні дані у своїх рекламних продуктах: https://policies.google.com/technologies/partner-sites</p>
        <p>Перелік постачальників рекламних технологій, які мають доступ до персональних даних відвідувачів, у зв’язку із застосуванням сервісів Google:</p>

        <ul>
            <li>Google https://www.google.com/policies/technologies/partner-sites/</li>
            <li>Aarki http://corp.aarki.com/privacy</li>
            <li>Adacado https://www.adacado.com/privacy-policy-april-25-2018/</li>
            <li>Adara Media https://adara.com/2018/04/10/adara-gdpr-faq/</li>
            <li>ADEX http://theadex.com/</li>
            <li>Adform https://site.adform.com/uncategorized/product-and-services-privacy-policy/</li>
            <li>Adikteev https://www.adikteev.com/eu/privacy/</li>
            <li>AdLedge https://adledge.com/data-privacy/</li>
            <li>Adloox http://adloox.com/disclaimer</li>
            <li>Adludio https://www.adludio.com/terms-conditions/</li>
            <li>AdMaxim http://www.admaxim.com/admaxim-privacy-policy/</li>
            <li>Admedo https://www.admedo.com/privacy-policy</li>
            <li>Admetrics https://admetrics.io/en/privacy_policy/</li>
            <li>Adobe Advertising Cloud https://www.adobe.com/privacy/general-data-protection-regulation.html</li>
            <li>AdTriba https://privacy.adtriba.com/</li>
            <li>advanced STORE GmbH https://www.ad4mat.com/en/privacy/</li>
            <li>Adventori https://www.adventori.com/fr/avec-nous/mentions-legales/</li>
            <li>advolution.control http://advolution.de/privacy.php</li>
            <li>affilinet https://www.affili.net/uk/footeritem/privacy-policy</li>
            <li>Akamai http://www.akamai.com/compliance/privacy</li>
            <li>Amazon https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201909010</li>
            <li>Amobee https://www.amobee.com/trust/privacy-guidelines</li>
            <li>Analights https://analights.com/docs/analights-consent-to-the-processing-of-personal-data-en.pdf</li>
            <li>AppLovin Corp. https://www.applovin.com/privacy</li>
            <li>AppNexus (Xandr) Inc https://www.xandr.com/privacy/</li>
            <li>Arrivalist https://www.arrivalist.com/privacy</li>
            <li>AudienceProject https://privacy.audienceproject.com/</li>
            <li>Aunica https://aunica.com/privacy-policy/</li>
            <li>Avocet http://avocet.io/privacy-portal</li>
            <li>Bannerflow https://www.bannerflow.com/privacy</li>
            <li>Batch Media https://theadex.com/privacy-opt-out/</li>
            <li>BDSK Handels GmbHCo. KG https://www.xxxlutz.de/c/privacy</li>
            <li>Beeswax https://www.beeswax.com/privacy.html</li>
            <li>Betgenius https://ssl.connextra.com/resources/Connextra/privacy-policy/index-v2.html</li>
            <li>Blismedia https://blis.com/privacy/</li>
            <li>Bombora http://bombora.com/privacy</li>
            <li>Booking.com https://www.booking.com/content/privacy.en-gb.html</li>
            <li>C3 Metrics https://c3metrics.com/privacy</li>
            <li>Cablato https://cablato.com/privacy-policy/</li>
            <li>Celtra https://www.celtra.com/privacy-policy/</li>
            <li>Centro http://privacy.centro.net/</li>
            <li>Cint https://www.cint.com/participant-privacy-notice/</li>
            <li>Clinch https://clinch.co/pages/privacy.html</li>
            <li>Cloud Technologies http://green.erne.co/assets/PolicyCT.pdf</li>
            <li>Cloudflare https://www.cloudflare.com/security-policy/</li>
            <li>Commanders Act https://www.commandersact.com/en/privacy/</li>
            <li>comScore https://www.comscore.com/About-comScore/Privacy-Policy</li>
            <li>Crimtan https://crimtan.com/privacy-ctl/</li>
            <li>Criteo https://www.criteo.com/privacy</li>
            <li>CUBED http://cubed.ai/privacy-policy/gdpr/</li>
            <li>DataXu https://docs.roku.com/published/userprivacypolicy/en/gb</li>
            <li>Demandbase https://www.demandbase.com/privacy-policy/</li>
            <li>DENTSU http://www.dentsu.co.jp/terms/data_policy.html</li>
            <li>Dentsu Aegis Network http://www.dentsu.com/termsofuse/data_policy.html</li>
            <li>Digiseg http://www.digiseg.io/GDPR/</li>
            <li>DMA Institute https://www.dma-institute.com/privacy-compliancy/</li>
            <li>DoubleVerify https://www.doubleverify.com/privacy/</li>
            <li>Dstillery https://dstillery.com/privacy-policy/</li>
            <li>Dynata https://www.opinionoutpost.co.uk/en-gb/policies/privacy</li>
            <li>EASYmedia https://www.rvty.net/gdpr</li>
            <li>eBay https://www.ebay.com/help/policies/member-behaviour-policies/user-privacy-notice-privacy-policy?id=4260</li>
            <li>ebuilders https://www.mediamonks.com/privacy-notice</li>
            <li>Effinity https://www.effiliation.com/politique-confidentialite.html</li>
            <li>emetriq https://www.emetriq.com/datenschutz/</li>
            <li>Ensighten https://www.ensighten.com/privacy-policy/</li>
            <li>Epsilon https://www.conversantmedia.eu/legal/privacy-policy</li>
            <li>Essens https://essens.no/privacy-policy/</li>
            <li>Evidon https://www.crownpeak.com/privacy</li>
            <li>Exactag https://www.exactag.com/en/data-privacy</li>
            <li>Exponential http://exponential.com/privacy/</li>
            <li>Facebook https://www.facebook.com/about/privacy/update</li>
            <li>Flashtalking http://www.flashtalking.com/first-party-ad-serving/</li>
            <li>Fractional Media https://www.fractionalmedia.com/privacy-policy</li>
            <li>FUSIO BY S4M http://www.s4m.io/privacy-policy/</li>
            <li>Gemius https://www.gemius.com/cookie-policy.html</li>
            <li>GfK https://sensic.net/</li>
            <li>GP One http://www.gsi-one.org/templates/gsi/en/files/privacy_policy.pdf</li>
            <li>GroupM https://www.greenhousegroup.com/nl/privacy-statement</li>
            <li>gskinner https://createjs.com/legal/privacy.html</li>
            <li>Haensel AMS https://haensel-ams.com/data-privacy/</li>
            <li>Havas Media France DBi https://www.havasgroup.com/data-protection-policy/</li>
            <li>hurra.com http://www.hurra.com/impressum</li>
            <li>IBM https://www.ibm.com/customer-engagement/digital-marketing/gdpr</li>
            <li>Ignition One https://www.ignitionone.com/privacy-policy/gdpr-subject-access-requests/</li>
            <li>Impact https://impact.com/privacy-policy/</li>
            <li>Improve Digital http://www.deltaprojects.com/data-collection-policy/</li>
            <li>Index Exchange http://www.indexexchange.com/privacy/</li>
            <li>Infectious Media https://impressiondesk.com/</li>
            <li>Innovid http://www.innovid.com/privacy-policy</li>
            <li>Integral Ad Science http://www.integralads.com/privacy-policy</li>
            <li>intelliAd https://www.intelliad.de/datenschutz</li>
            <li>IPONWEB http://www.bidswitch.com/privacy-policy/</li>
            <li>Jivox http://www.jivox.com/privacy/</li>
            <li>Kantar https://www.kantarmedia.com/global/privacy-statement</li>
            <li>Kochava https://www.kochava.com/support-privacy/</li>
            <li>LifeStreet http://www.lifestreet.com/privacy</li>
            <li>Liftoff https://liftoff.io/privacy-policy/</li>
            <li>LiveRamp https://liveramp.com/service-privacy-policy/</li>
            <li>Localsensor https://www.localsensor.com/privacy.html</li>
            <li>LoopMe https://loopme.com/privacy/</li>
            <li>Lotame https://www.lotame.com/about-lotame/privacy/</li>
            <li>Macromill group https://www.metrixlab.com/privacy-statement/</li>
            <li>MainADV http://www.mainad.com/privacy-policy</li>
            <li>Manage.com https://www.manage.com/privacy-policy/</li>
            <li>Marketing Science Consulting Group, Inc. http://mktsci.com/privacy_policy.htm</li>
            <li>MediaMath http://www.mediamath.com/privacy-policy/</li>
            <li>Meetrics https://www.meetrics.com/en/data-privacy/</li>
            <li>MindTake Research https://www.mindtake.com/en/reppublika-privacy-policy</li>
            <li>Mobitrans http://www.mobitrans.net/privacy-policy/</li>
            <li>Mobpro http://mobpro.com/privacy.html</li>
            <li>Moloco Ads http://www.molocoads.com/private-policy.html</li>
            <li>MSI-ACI http://site.msi-aci.com/Home/FlexTrackPrivacy</li>
            <li>Nano Interactive http://www.nanointeractive.com/privacy</li>
            <li>Navegg https://www.navegg.com/en/privacy-policy/</li>
            <li>Neodata Group https://www.neodatagroup.com/en/security-policy</li>
            <li>NEORY GmbH https://www.neory.com/privacy.html</li>
            <li>Netflix http://www.netflix.com/google-3PAS-info</li>
            <li>Netquest https://www.nicequest.com/us/privacy</li>
            <li>Neural.ONE https://web.neural.one/privacy-policy/</li>
            <li>Neustar https://www.home.neustar/privacy</li>
            <li>NextRoll, Inc. https://www.nextroll.com/privacy</li>
            <li>Nielsen https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement/</li>
            <li>numberly https://numberly.com/en/privacy/</li>
            <li>Objective Partners https://www.objectivepartners.com/cookie-policy-and-privacy-statement/</li>
            <li>Omnicom Media Group https://www.omnicommediagroup.com/disclaimer.htm</li>
            <li>On Device Research https://ondeviceresearch.com/GDPR</li>
            <li>OneTag https://www.onetag.net/privacy/</li>
            <li>OpenX Technologies https://www.openx.com/legal/privacy-policy/</li>
            <li>Optomaton http://optomaton.com/privacy.html</li>
            <li>Oracle Data Cloud https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html</li>
            <li>OTTO https://www.otto.de/shoppages/service/datenschutz</li>
            <li>PERMODO http://permodo.com/de/privacy.html</li>
            <li>Pixalate http://www.pixalate.com/privacypolicy/</li>
            <li>Platform161 https://platform161.com/cookie-and-privacy-policy/</li>
            <li>Primis https://www.primis.tech/privacy-policy/</li>
            <li>Protected Media http://www.protected.media/privacy-policy/</li>
            <li>Publicis Media https://www.publicismedia.de/datenschutz/</li>
            <li>PubMatic https://pubmatic.com/legal/privacy-policy/</li>
            <li>PulsePoint https://www.pulsepoint.com/privacy-policy</li>
            <li>Quantcast https://www.quantcast.com/privacy/</li>
            <li>Rackspace http://www.rackspace.com/gdpr</li>
            <li>Rakuten Marketing https://rakutenadvertising.com/legal-notices/services-privacy-policy/</li>
            <li>Relay42 https://relay42.com/privacy</li>
            <li>Remerge http://remerge.io/privacy-policy.html</li>
            <li>Resolution Media https://www.nonstoppartner.net/</li>
            <li>Resonate https://www.resonate.com/privacy-policy/</li>
            <li>RevJet https://www.revjet.com/privacy</li>
            <li>Roq.ad https://www.roq.ad/privacy-policy</li>
            <li>RTB House https://www.rtbhouse.com/privacy-center/services-privacy-policy/</li>
            <li>Rubicon Project https://rubiconproject.com/rubicon-project-advertising-technology-privacy-policy/</li>
            <li>Salesforce DMP https://www.salesforce.com/company/privacy/</li>
            <li>Scenestealer https://scenestealer.co.uk/privacy-policy/</li>
            <li>Scoota https://www.scoota.com/privacy</li>
            <li>Seenthis https://seenthis.co/privacy-notice-2018-04-18.pdf</li>
            <li>Semasio GmbH https://www.semasio.com/privacy</li>
            <li>SFR http://www.sfr.fr/securite-confidentialite.html</li>
            <li>Sift Media https://www.sift.co/privacy</li>
            <li>Simpli.fi https://simpli.fi/simpli-fi-services-privacy-policy/</li>
            <li>Sizmek https://www.sizmek.com/privacy-policy/</li>
            <li>Smaato https://www.smaato.com/privacy/</li>
            <li>Smadex http://smadex.com/end-user-privacy-policy/</li>
            <li>Smart http://smartadserver.com/company/privacy-policy/</li>
            <li>Smartology https://www.smartology.net/privacy-policy/</li>
            <li>Sojern https://www.sojern.com/privacy/product-privacy-policy/</li>
            <li>Solocal https://client.adhslx.com/privacy.html</li>
            <li>Sovrn https://www.sovrn.com/privacy-policy/</li>
            <li>Spotad http://www.spotad.co/privacy-policy/</li>
            <li>SpotX https://www.spotx.tv/privacy-policy/</li>
            <li>STRER SSP GmbH https://www.stroeer.de/fileadmin/de/Konvergenz_und_Konzepte/Daten_und_Technologien/Stroeer_SSP/Downloads/Datenschutz_Stroeer_SSP.pdf</li>
            <li>TabMo http://static.tabmo.io.s3.amazonaws.com/privacy-policy/index.html</li>
            <li>Taboola https://www.taboola.com/privacy-policy</li>
            <li>TACTIC Real-Time Marketing http://tacticrealtime.com/privacy/</li>
            <li>Teads https://teads.tv/privacy-policy/</li>
            <li>TEEMO https://teemo.co/fr/confidentialite/</li>
            <li>The Trade Desk https://www.thetradedesk.com/general/privacy-policy</li>
            <li>Tradedoubler AB http://www.tradedoubler.com/en/privacy-policy/</li>
            <li>travel audience An Amadeus Company https://travelaudience.com/product-privacy-policy/</li>
            <li>Travel Data Collective https://www.yieldr.com/privacy/</li>
            <li>TreSensa http://tresensa.com/eu-privacy/index.html</li>
            <li>TripleLift https://triplelift.com/privacy/</li>
            <li>TruEffect https://trueffect.com/privacy-policy/</li>
            <li>TrustArc https://www.trustarc.com/privacy-policy/</li>
            <li>UnrulyX https://unruly.co/legal/gdpr/</li>
            <li>usemax (Emego GmbH) http://www.usemax.de/?l=privacy</li>
            <li>Verizon Media https://www.verizonmedia.com/policies/ie/en/verizonmedia/privacy/index.html</li>
            <li>Verve Group https://pubnative.net/privacy-notice</li>
            <li>Videology https://videologygroup.com/en/privacy-policy/</li>
            <li>Vimeo https://vimeo.com/cookie_policy</li>
            <li>Virtual Minds https://virtualminds.de/datenschutz/</li>
            <li>Vodafone GmbH https://www.vodafone.de/unternehmen/datenschutz-privatsphaere.html</li>
            <li>Waystack https://www.wayfair.com/customerservice/general_info.php</li>
            <li>Weborama https://weborama.com/en/weborama-privacy-commitment/</li>
            <li>White Ops https://www.whiteops.com/privacy</li>
            <li>Widespace https://www.widespace.com/legal/privacy-policy-notice/</li>
            <li>Wizaly https://www.wizaly.com/terms-of-use</li>
            <li>ZMS https://zms.zalando.com/</li>
        </ul>
    </div>
</div>

{% endblock content %}