{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="recipe-item">
    <div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
        {% if searched %}
        <h1>Результат пошуку {{ searched }}</h1>

        <div class="row gy-3">
            {% for i in recipes %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="card h-100 mb-3">
                    <a href="{{i.id}}"><img src="{{i.img.url}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                    <a href="{{i.id}}">
                        <h5 class="card-title">{{i.name}}</h5>
                    </a>                     
                    <p class="card-text">{{i.short_desc}}</p>
                    </div>
                </div> 
            </div>             
            {% endfor %}
        </div>
        {% else %}
        <h1>Нічого не знайдено ...{{ searched }}</h1>
        {% endif %}

    </div>
</div>

{% endblock content %}