{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="recipe-page">
    <div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
        <h1>{{recipe.name}}</h1>
            <div class="recipe-img">
                {% comment %} <img src="./www.pythonanywhere.com_user_ludvigdodi_files_home_ludvigdodi_food_page_templates_single_recipe_files/{{recipe.img.url}}" class="rounded" width="400" height="400" alt="голубці"> {% endcomment %}
            </div>
            <div class="recipe-content">
                <p class="ck-content">{{recipe.text | safe}}</p>
                <!--<p>{{recipe.text_second|safe}}</p>-->
            </div>
    </div>
</div>

<div class="comments">
    {% if user.is_authenticated %}
    <div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
        <div class="row">
            <h6>ЗАЛИШИТИ КОМЕНТАР : </h6>
            <div>
                {% comment %} <form action="{% url 'add_comments' recipe.id %}" class="comments" method="post"> {% endcomment %}
                <form action="{% url 'add_comments' recipe.id %}" class="comments" method="post">
                    {% csrf_token %}

                    {% comment %} <div class="login-item col-xl-3 col-lg-3 col-md-4 col-sm-12">  
                        <span name="name">{{ user.username }}</span>
                    </div> {% endcomment %}
    
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="Leave your name here" id="floatingInput" name="name">
                        <label for="floatingInput">Ім'я</label>
                    </div>

                    {% comment %} <div class="col-4 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="email">
                        </label>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-4 mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Коментар" name="text_comments"></textarea>
                        </label>
                    </div> {% endcomment %}
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" height="200" name="text_comments"></textarea>
                        <label for="floatingTextarea">Коментар</label>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-outline-secondary">Відправка</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
        <div class="row">
            <h6>ЗАЛИШИТИ КОМЕНТАР МОЖУТЬ ЛИШЕ АВТОРИЗОВАНІ КОРИСТУВАЧІ </h6>
        </div>
    </div>
    {% endif %}

    <div class="container all-comments">
        <h6>КОМЕНТАРІ : </h6>
        {% for comment in recipe.comments_set.all %}
            <div class="view-comment">
                <b><i>{{comment.name}}</i></b>
                <p><span>{{comment.text_comments}}</span></p>
                <p><span><b>{{ comment.date_added }}</b></span></p>
            </div>
        {%endfor%}
    </div>
</div>

{% endblock content %}