/******************************GLOBAL*********************************/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

html, body {
    height: 100%; 
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  body a {
      text-decoration: none;
      color: #000000;
  }
  
  body a:hover {
      text-decoration: underline;
      color: #000;
  }
  
  body img {
      padding: 0;
      margin: 0;
      max-width:100%;
      max-height: 100%;
  }
  
  body h1, h3 {
      text-align: center;
      margin-bottom: 30px;
  }
  
  .wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
  }
  
  .main {
      flex: 1 1 auto;
      padding: 0 15px;
  }
  .fixed-width-btn {
      width: 145px;
      margin-right: 5px;
  }

  figure {
    text-align: center;
  }
  /*****************************END GLOBAL*******************************/
  
  
  /*******************************HEADER*********************************/
  
  /**********logo**********/
  .container-fluid {
      padding: 0;
  }
  .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 80px;
      font-family: 'Amatic SC', cursive;
      font-size: 1.5rem;
  }
  /* .logo img {
    max-height: 60px;
  }
   */
  /**********menu**********/
  .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .nav-link {
      text-decoration: none;
      color: #6c757d;
  }
  .nav-link:hover {
      color: #000;
      text-decoration: underline;
  }
  
  form.user-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }
  .reg-log {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  /***********burger menu*************/
  .offcanvas-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      overflow-y: auto;
  }
  .offcanvas-body ul {
      font-size: x-large;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      overflow-y: auto;
  }
  .offcanvas-body>.menu-item {
        /* margin-bottom: 190px; */
        margin-bottom: 10em;
      }
  .burger-title {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
  }

  /*****************************END HEADER******************************/
  
  
  /********************************MAIN*********************************/
  .main-title {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
  }
  /**********banner***********/
  .main-img>.img {
      width: 100%;
  }
  /**********slogan***********/
  .slogan {
      text-align: center;
      margin: 50px auto;
  }
  
  /**********recipe-item**********/
  .recipe-item {
      margin-top: 50px;
  }
  
  /************comments***********/
  .comments {
      margin-top: 30px;
  }
  .view-comment {
      margin-top: 30px;
  }
  /*****************************END MAIN*********************************/
  
  
  /********************************FOOTER***********************************/
  .footer { 
      height: 100px;
      margin-top: 50px;
  }
  .footer-menu>.container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid #6c757d;
      padding-top: 20px;
  }
  .footer-rights {
      text-align: center;
      margin-top: 10px;
      font-size: smaller;
  }
  /********************************END FOOTER*******************************/
  .footer-rights a {
    display: inline-block;
  }
  .about-politic {
    text-align: center;
    margin-top: 10px;
    font-size: smaller;
  }
  /*******************************LOGIN PAGE********************************/
  .login {
      text-align: center;

  }
  .login-field {
    display: flex;
    flex-direction: column;
    min-width: 130px;
    margin: 0 auto;
    margin-bottom: 1rem!important;
  }
  .login-field a {
    display: inline-block;
  }
  /******************************END LOGIN PAGE*****************************/
  
  
  /******************************RECIPE PAGE********************************/
.recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  /******************************END RECIPE PAGE*****************************/
  
  
  /*****************************BURGER MENU*********************************/
  /***************************END BURGER MENU*******************************/

  /********************************COOKIE BUNNER*******************************/
  #cb-cookie-banner { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 999; 
    border-radius: 0; 
    display: none; 
}
  /******************************END COOKIE BANNER*****************************/


  
  
  @media (min-width: 320px) and (max-width: 767.98px) { 
      .menu {
          display: none;
      }
      .logo {
          display: none;
      }
      .card-title {
        text-align: center;
        font-size: 1rem;
      }
      .card-text {
        display: none;
      }
      .recipe-content img {
        max-width: 100%;
        height: auto;
      }
      .header-second {
        height: 4.5rem;
      }
      .banner {
        padding: 0.5rem!important;
      }
   }
  @media (min-width: 768px) and (max-width: 991.98px) { 
      .menu {
          display: none;
      }
      .logo {
          display: none;
      }
      .header-second {
        height: 4.5rem;
      }
      .banner {
        padding: 0.5rem!important;
      }
   }
  @media (min-width: 992px) and (max-width: 2560px) { 
      .header-burger {
          display: none;
      }
   }
  
  