{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
    <div class="login">
        <h1>Увійти: </h1>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="login-field col-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        <input type="text" class="form-control" name="username">
                    </label>
                </div>
                <div class="login-field col-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        <input type="password" class="form-control" name='password'>
                    </label>
                    {% comment %} <a href="#" class="new-password">Забули пароль?</a>                      {% endcomment %}
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-secondary">Підтвердити</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}