{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="recipe-item">
    <div class="container shadow p-4 mb-5 mt-5 bg-body rounded">
        <h1>Закуски </h1>

        <div class="row gy-3">
            {%  for i in aperetize %}
            {% if i.food_type == 'aperetize' %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="card h-100 mb-3">
                    <a href="{{i.id}}"><img src="{{i.img.url}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                    <a href="{{i.id}}">
                        <h5 class="card-title">{{i.name}}</h5>
                    </a>                     
                    <p class="card-text">{{i.short_desc}}</p>
                    </div>
                </div> 
            </div>        
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}