<div class="politic">
    <div class="container">
        ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ

        Продовжуючи відвідування сайту, ви надаєте згоду на використання cookies та погоджуєтесь з Політикою конфіденційності.
        ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ
        Ця Політика конфіденційності описує, як «Файні Рецепти» (далі — «Компанія», «ми») збирає, використовує, передає, зберігає персональні дані, які ми автоматично отримуємо, коли ви використовуєте веб-сайт, розміщений на faynirecepty.com ( далі — «Сайт»), або які можуть бути безпосередньо надані нам вами за допомогою Сайту.
                1. ПЕРСОНАЛЬНІ ДАНІ, ЯКІ ВИ МОЖЕТЕ САМОСТІЙНО НАМ НАДАВАТИ
        Використання Сайту не вимагає реєстрації та безпосереднього надання персональних даних, які можуть вас ідентифікувати.
        РЕЄСТРАЦІЯ
        На свій розсуд, для більшої зручності використання Сайту, ви можете зареєструватись на Сайті, вказавши ваше ім’я та адресу електронної пошти, пароль.  Ця інформація потрібна для подальшої авторизації на Сайті. Ви можете вказати як своє справжнє ім’я, так і псевдонім. Воно буде відображатись у коментарях, які ви можете залишати на Сайті.
        Надана вами адреса електронної пошти може використовуватись для зв’язку із вами, надсилання повідомлень про новини Сайту.
        ІНШІ ВИПАДКИ
        У деяких окремих випадках (наприклад, конкурси, контактні форми) ми повинні отримати ваші персональні дані і мати можливість ідентифікувати вашу особу. У таких випадках ми безпосередньо звернемо вашу увагу на це, повідомимо мету обробки таких персональних даних і будемо збирати та обробляти ваші персональні дані тільки за наявності вашої згоди у відповідності до чинного законодавства.
        При необхідності надання таких персональних даних ми вказуємо вікові обмеження. Якщо ви є батьками дитини віком до 14 років, і ви вважаєте, що ваша дитина без вашої згоди  надала нам свої персональні дані, що дає можливість її ідентифікувати, зв’яжіться з нами за адресою info@klopopotenko.com
                1. АВТОМАТИЧНИЙ ЗБІР ДАНИХ
        LOG-ФАЙЛИ
        Коли ви використовуєте Сайт може здійснюватись автоматичний збір інформації, пов’язаної із таким використанням. Так, кожного разу, коли ви відвідуєте Сайт, встановлюється з’єднання, здійснюється доступ до даних на Сайті і створюється log-файл. Він може містити:
            • дату і час доступу до Сайту;
            • IP-адресу, з якої здійснювався доступ до Сайту;
            • дані або ім’я файлу, до якого ви звернулися на Сайті;
            • кількість часу, проведеного на Сайті;
            • назву і версію вашого веб-браузера, операційної системи;
            • назву веб-сайту, з якого ви перейшли на наш Сайт.
        Ця інформація використовується для покращення продуктивності роботи Сайту, з міркувань безпеки,  для забезпечення стабільності роботи Сайту, а також для захисту Сайту від можливих зовнішніх атак. Крім цього, ми можемо здійснювати статистичний аналіз цих даних.
        Дані, що зберігаються у log-файлі не дають нам можливості ідентифікувати вашу особу. Вони  використовуються лише для вказаних тут цілей і не передаються третім особам.
        Якщо ви здійснюєте доступ до Сайту за допомогою мобільного пристрою, ми також можемо отримувати інформацію про його місцезнаходження. Ми використовуємо її, щоб встановити з яких географічних регіонів здійснюється доступ до Сайту і мати можливість запропонувати цікавий та актуальний контент. Ви можете обмежити надання інформації про місцезнаходження, скориставшись налаштуваннями служб локації вашого мобільного пристрою.
                1. ФАЙЛИ COOKIES ТА ІНСТРУМЕНТИ АНАЛІТИКИ
        Файли cookies — це невеликі текстові файли, які зберігаються на вашому пристрої. Вони використовуються для збирання анонімних даних та статистики використання вами Сайту. Файли cookies допомагають виміряти ефективність Сайту, вдосконалити та налаштувати контент, зробити використання Сайту зручнішим для вас.
        ФАЙЛИ COOKIES, ЯКІ МИ ВИКОРИСТОВУЄМО:
        СЕСІЙНІ ФАЙЛИ COOKIES
        Ці файли cookies існують лише протягом сеансу. Вони зникнуть з вашого пристрою, коли ви вимкнете його або закриєте веб-переглядач.
        ПОСТІЙНІ ФАЙЛИ COOKIES
        Ці файли cookies залишаються на вашому комп’ютері навіть після закриття веб-переглядача або вимкнення пристрою. Вони активуються щоразу, коли ви відвідуєте Сайт і мають унікальний ідентифікатор. Це необхідно для індивідуалізації функціоналу Сайту, наприклад, збереження бажаної для вас мови. За допомогою такої ідентифікації ми визначаємо, що це той самий користувач, але вона не дає нам можливості встановити хто це і визначити вашу особу.
        Ви можете відмовитися від використання файлів cookie, вибравши відповідні налаштування у своєму веб-переглядачі:
            • Для Chrome, будь ласка, відвідайте цю сторінку Google: https://support.google.com/accounts/answer/32050
            • Для Internet Explorer, будь ласка, відвідайте цю сторінку Microsoft: http://support.microsoft.com/kb/278835
            • Для Firefox, будь ласка, відвідайте цю сторінку Mozilla: https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US
            • Для Safari, будь ласка, відвідайте цю сторінку Apple: https://support.apple.com/kb/PH21411?locale=en_US
        Зверніть увагу, якщо ви відмовитесь від використання файлів cookies, певні функції Сайту можуть бути для вас недоступні.
        Файли cookies, інструменти аналітики та управління рекламою третіх осіб
        На Сайті використовуються інструменти третіх осіб для аналітики та управління рекламою, зокрема:
        Google Analytics, Менеджер реклами (Google Inc.), Adtelligent DSP, Adtelligent SSP.
        Ці інструменти можуть використовувати файли cookie, які можуть збирати таку інформацію:
            • вашу IP-адресу
            • назву і версію вашого веб-переглядача, операційної системи
            • про частоту та тривалість використання вами Сайту
            • про контент, який ви переглядаєте
            • з якого сайту ви перейшли на наш Сайт
            • на який сайт перейшли з нашого Сайту
            • іншу інформацію, яка надає можливість проаналізувати як використовується Сайт.
        Така інформація є анонімною і дозволяє дослідити як ви використовуєте Сайт, не ідентифікуючи при цьому вашу особу.
        Ці дані обробляються відповідними службами аналітики таких третіх осіб для цілей маркетингу, статистики, персоналізації реклами. Інструменти аналізу можуть також передавати ці дані третім особам у випадках, коли це вимагається законом, або якщо такі треті особи є обробниками даних на підставі відповідних договорів.
        На основі аналізу попередніх відвідувань вами Сайту відбувається показ релевантної для вас реклами.
        За цим посиланням ви можете отримати інформацію про те, як компанія Google використовує персональні дані у своїх рекламних продуктах: https://policies.google.com/technologies/partner-sites
        Перелік постачальників рекламних технологій, які мають доступ до персональних даних відвідувачів, у зв’язку із застосуванням сервісів Google:
        Google https://www.google.com/policies/technologies/partner-sites/
        Aarki http://corp.aarki.com/privacy
        Adacado https://www.adacado.com/privacy-policy-april-25-2018/
        Adara Media https://adara.com/2018/04/10/adara-gdpr-faq/
        ADEX http://theadex.com/
        Adform https://site.adform.com/uncategorized/product-and-services-privacy-policy/
        Adikteev https://www.adikteev.com/eu/privacy/
        AdLedge https://adledge.com/data-privacy/
        Adloox http://adloox.com/disclaimer
        Adludio https://www.adludio.com/terms-conditions/
        AdMaxim http://www.admaxim.com/admaxim-privacy-policy/
        Admedo https://www.admedo.com/privacy-policy
        Admetrics https://admetrics.io/en/privacy_policy/
        Adobe Advertising Cloud https://www.adobe.com/privacy/general-data-protection-regulation.html
        AdTriba https://privacy.adtriba.com/
        advanced STORE GmbH https://www.ad4mat.com/en/privacy/
        Adventori https://www.adventori.com/fr/avec-nous/mentions-legales/
        advolution.control http://advolution.de/privacy.php
        affilinet https://www.affili.net/uk/footeritem/privacy-policy
        Akamai http://www.akamai.com/compliance/privacy
        Amazon https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201909010
        Amobee https://www.amobee.com/trust/privacy-guidelines
        Analights https://analights.com/docs/analights-consent-to-the-processing-of-personal-data-en.pdf
        AppLovin Corp. https://www.applovin.com/privacy
        AppNexus (Xandr) Inc https://www.xandr.com/privacy/
        Arrivalist https://www.arrivalist.com/privacy
        AudienceProject https://privacy.audienceproject.com/
        Aunica https://aunica.com/privacy-policy/
        Avocet http://avocet.io/privacy-portal
        Bannerflow https://www.bannerflow.com/privacy
        Batch Media https://theadex.com/privacy-opt-out/
        BDSK Handels GmbH & Co. KG https://www.xxxlutz.de/c/privacy
        Beeswax https://www.beeswax.com/privacy.html
        Betgenius https://ssl.connextra.com/resources/Connextra/privacy-policy/index-v2.html
        Blismedia https://blis.com/privacy/
        Bombora http://bombora.com/privacy
        Booking.com https://www.booking.com/content/privacy.en-gb.html
        C3 Metrics https://c3metrics.com/privacy
        Cablato https://cablato.com/privacy-policy/
        Celtra https://www.celtra.com/privacy-policy/
        Centro http://privacy.centro.net/
        Cint https://www.cint.com/participant-privacy-notice/
        Clinch https://clinch.co/pages/privacy.html
        Cloud Technologies http://green.erne.co/assets/PolicyCT.pdf
        Cloudflare https://www.cloudflare.com/security-policy/
        Commanders Act https://www.commandersact.com/en/privacy/
        comScore https://www.comscore.com/About-comScore/Privacy-Policy
        Crimtan https://crimtan.com/privacy-ctl/
        Criteo https://www.criteo.com/privacy
        CUBED http://cubed.ai/privacy-policy/gdpr/
        DataXu https://docs.roku.com/published/userprivacypolicy/en/gb
        Demandbase https://www.demandbase.com/privacy-policy/
        DENTSU http://www.dentsu.co.jp/terms/data_policy.html
        Dentsu Aegis Network http://www.dentsu.com/termsofuse/data_policy.html
        Digiseg http://www.digiseg.io/GDPR/
        DMA Institute https://www.dma-institute.com/privacy-compliancy/
        DoubleVerify https://www.doubleverify.com/privacy/
        Dstillery https://dstillery.com/privacy-policy/
        Dynata https://www.opinionoutpost.co.uk/en-gb/policies/privacy
        EASYmedia https://www.rvty.net/gdpr
        eBay https://www.ebay.com/help/policies/member-behaviour-policies/user-privacy-notice-privacy-policy?id=4260
        ebuilders https://www.mediamonks.com/privacy-notice
        Effinity https://www.effiliation.com/politique-confidentialite.html
        emetriq https://www.emetriq.com/datenschutz/
        Ensighten https://www.ensighten.com/privacy-policy/
        Epsilon https://www.conversantmedia.eu/legal/privacy-policy
        Essens https://essens.no/privacy-policy/
        Evidon https://www.crownpeak.com/privacy
        Exactag https://www.exactag.com/en/data-privacy
        Exponential http://exponential.com/privacy/
        Facebook https://www.facebook.com/about/privacy/update
        Flashtalking http://www.flashtalking.com/first-party-ad-serving/
        Fractional Media https://www.fractionalmedia.com/privacy-policy
        FUSIO BY S4M http://www.s4m.io/privacy-policy/
        Gemius https://www.gemius.com/cookie-policy.html
        GfK https://sensic.net/
        GP One http://www.gsi-one.org/templates/gsi/en/files/privacy_policy.pdf
        GroupM https://www.greenhousegroup.com/nl/privacy-statement
        gskinner https://createjs.com/legal/privacy.html
        Haensel AMS https://haensel-ams.com/data-privacy/
        Havas Media France – DBi https://www.havasgroup.com/data-protection-policy/
        hurra.com http://www.hurra.com/impressum
        IBM https://www.ibm.com/customer-engagement/digital-marketing/gdpr
        Ignition One https://www.ignitionone.com/privacy-policy/gdpr-subject-access-requests/
        Impact https://impact.com/privacy-policy/
        Improve Digital http://www.deltaprojects.com/data-collection-policy/
        Index Exchange http://www.indexexchange.com/privacy/
        Infectious Media https://impressiondesk.com/
        Innovid http://www.innovid.com/privacy-policy
        Integral Ad Science http://www.integralads.com/privacy-policy
        intelliAd https://www.intelliad.de/datenschutz
        IPONWEB http://www.bidswitch.com/privacy-policy/
        Jivox http://www.jivox.com/privacy/
        Kantar https://www.kantarmedia.com/global/privacy-statement
        Kochava https://www.kochava.com/support-privacy/
        LifeStreet http://www.lifestreet.com/privacy
        Liftoff https://liftoff.io/privacy-policy/
        LiveRamp https://liveramp.com/service-privacy-policy/
        Localsensor https://www.localsensor.com/privacy.html
        LoopMe https://loopme.com/privacy/
        Lotame https://www.lotame.com/about-lotame/privacy/
        Macromill group https://www.metrixlab.com/privacy-statement/
        MainADV http://www.mainad.com/privacy-policy
        Manage.com https://www.manage.com/privacy-policy/
        Marketing Science Consulting Group, Inc. http://mktsci.com/privacy_policy.htm
        MediaMath http://www.mediamath.com/privacy-policy/
        Meetrics https://www.meetrics.com/en/data-privacy/
        MindTake Research https://www.mindtake.com/en/reppublika-privacy-policy
        Mobitrans http://www.mobitrans.net/privacy-policy/
        Mobpro http://mobpro.com/privacy.html
        Moloco Ads http://www.molocoads.com/private-policy.html
        MSI-ACI http://site.msi-aci.com/Home/FlexTrackPrivacy
        Nano Interactive http://www.nanointeractive.com/privacy
        Navegg https://www.navegg.com/en/privacy-policy/
        Neodata Group https://www.neodatagroup.com/en/security-policy
        NEORY GmbH https://www.neory.com/privacy.html
        Netflix http://www.netflix.com/google-3PAS-info
        Netquest https://www.nicequest.com/us/privacy
        Neural.ONE https://web.neural.one/privacy-policy/
        Neustar https://www.home.neustar/privacy
        NextRoll, Inc. https://www.nextroll.com/privacy
        Nielsen https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement/
        numberly https://numberly.com/en/privacy/
        Objective Partners https://www.objectivepartners.com/cookie-policy-and-privacy-statement/
        Omnicom Media Group https://www.omnicommediagroup.com/disclaimer.htm
        On Device Research https://ondeviceresearch.com/GDPR
        OneTag https://www.onetag.net/privacy/
        OpenX Technologies https://www.openx.com/legal/privacy-policy/
        Optomaton http://optomaton.com/privacy.html
        Oracle Data Cloud https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html
        OTTO https://www.otto.de/shoppages/service/datenschutz
        PERMODO http://permodo.com/de/privacy.html
        Pixalate http://www.pixalate.com/privacypolicy/
        Platform161 https://platform161.com/cookie-and-privacy-policy/
        Primis https://www.primis.tech/privacy-policy/
        Protected Media http://www.protected.media/privacy-policy/
        Publicis Media https://www.publicismedia.de/datenschutz/
        PubMatic https://pubmatic.com/legal/privacy-policy/
        PulsePoint https://www.pulsepoint.com/privacy-policy
        Quantcast https://www.quantcast.com/privacy/
        Rackspace http://www.rackspace.com/gdpr
        Rakuten Marketing https://rakutenadvertising.com/legal-notices/services-privacy-policy/
        Relay42 https://relay42.com/privacy
        Remerge http://remerge.io/privacy-policy.html
        Resolution Media https://www.nonstoppartner.net/
        Resonate https://www.resonate.com/privacy-policy/
        RevJet https://www.revjet.com/privacy
        Roq.ad https://www.roq.ad/privacy-policy
        RTB House https://www.rtbhouse.com/privacy-center/services-privacy-policy/
        Rubicon Project https://rubiconproject.com/rubicon-project-advertising-technology-privacy-policy/
        Salesforce DMP https://www.salesforce.com/company/privacy/
        Scenestealer https://scenestealer.co.uk/privacy-policy/
        Scoota https://www.scoota.com/privacy
        Seenthis https://seenthis.co/privacy-notice-2018-04-18.pdf
        Semasio GmbH https://www.semasio.com/privacy
        SFR http://www.sfr.fr/securite-confidentialite.html
        Sift Media https://www.sift.co/privacy
        Simpli.fi https://simpli.fi/simpli-fi-services-privacy-policy/
        Sizmek https://www.sizmek.com/privacy-policy/
        Smaato https://www.smaato.com/privacy/
        Smadex http://smadex.com/end-user-privacy-policy/
        Smart http://smartadserver.com/company/privacy-policy/
        Smartology https://www.smartology.net/privacy-policy/
        Sojern https://www.sojern.com/privacy/product-privacy-policy/
        Solocal https://client.adhslx.com/privacy.html
        Sovrn https://www.sovrn.com/privacy-policy/
        Spotad http://www.spotad.co/privacy-policy/
        SpotX https://www.spotx.tv/privacy-policy/
        STRÖER SSP GmbH https://www.stroeer.de/fileadmin/de/Konvergenz_und_Konzepte/Daten_und_Technologien/Stroeer_SSP/Downloads/Datenschutz_Stroeer_SSP.pdf
        TabMo http://static.tabmo.io.s3.amazonaws.com/privacy-policy/index.html
        Taboola https://www.taboola.com/privacy-policy
        TACTIC™ Real-Time Marketing http://tacticrealtime.com/privacy/
        Teads https://teads.tv/privacy-policy/
        TEEMO https://teemo.co/fr/confidentialite/
        The Trade Desk https://www.thetradedesk.com/general/privacy-policy
        Tradedoubler AB http://www.tradedoubler.com/en/privacy-policy/
        travel audience – An Amadeus Company https://travelaudience.com/product-privacy-policy/
        Travel Data Collective https://www.yieldr.com/privacy/
        TreSensa http://tresensa.com/eu-privacy/index.html
        TripleLift https://triplelift.com/privacy/
        TruEffect https://trueffect.com/privacy-policy/
        TrustArc https://www.trustarc.com/privacy-policy/
        UnrulyX https://unruly.co/legal/gdpr/
        usemax (Emego GmbH) http://www.usemax.de/?l=privacy
        Verizon Media https://www.verizonmedia.com/policies/ie/en/verizonmedia/privacy/index.html
        Verve Group https://pubnative.net/privacy-notice
        Videology https://videologygroup.com/en/privacy-policy/
        Vimeo https://vimeo.com/cookie_policy
        Virtual Minds https://virtualminds.de/datenschutz/
        Vodafone GmbH https://www.vodafone.de/unternehmen/datenschutz-privatsphaere.html
        Waystack https://www.wayfair.com/customerservice/general_info.php
        Weborama https://weborama.com/en/weborama-privacy-commitment/
        White Ops https://www.whiteops.com/privacy
        Widespace https://www.widespace.com/legal/privacy-policy-notice/
        Wizaly https://www.wizaly.com/terms-of-use
        ZMS https://zms.zalando.com/

    </div>
</div>